@import '../../assets/sass/colors.scss';

.text-block {
    margin: 20px auto;
    
    img {
        max-width: 100%;

        @media (min-width: $md) {
            max-width: 400px;   
        }
    }
}