@import '../../assets/sass/colors.scss';

.speakersList-wrapper {
    margin: 20px auto;
    
    h5, p {
        color: $text !important;
    }

    .speakersList-cards {

        hr {
            height: 0.5rem !important;

            @media (max-width: $lg) {
                display: none;
            }
        }

        .speakersList-line {
            // columns: 2;
    
            // @media (max-width: $lg) {
            //     columns: 1;
            // }
    
            .card {
                min-height: calc(100% - 16px);
                background-color: $bg !important;
                border: thick solid $main;
                display: grid;
    
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}