@import '../../assets/sass/colors.scss';

.image-block {
    padding: 5px;
    border: 3px solid $main;
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    max-width: 100%;

    i {
        position: absolute;
        left: 30px;
        top: 30px;
        color: $main;
        text-shadow: 0 0 10px $secondary;
    }
}