@import '../../assets/sass/colors.scss';

.contact-form{
    margin: 20px auto;
    padding: 20px;
    border: thick solid $main;
    border-radius: 15px;

    .contact-form-title{
        width: max-content;
        margin: 10px auto;
    }

    @media (min-width: $lg) {
        width: 70%;
    }

    h5, p, label {
        color: $text !important;
    }
}