@import '../../assets/sass/colors.scss';

footer {
    a {
        color: $main--dark !important;
        border-color: $main !important;

        &:hover {
            color: $secondary--dark !important;
            border-color: $secondary !important;
        }
    }

    p {
        text-align: center;
    }

    .footer-dev {
        margin-bottom: 0;
        font-size: 0.8rem;
        color: #525252;
        a {
            font-size: 0.8rem;
        }
    }
}