@import '../../assets/sass/colors.scss';

.navbar {
    background-color: $green;

    .navbar-brand {
        border-radius: 50%;

        img {
            object-fit: cover;
            width: 60px;
            height: 60px;
        }
    }

    .navbar-collapse {
        justify-content: end;

        .navbar-nav:not(.nav-socials) {
            margin: 0 20px;
    
            a {
                font-family: 'Fredoka One', cursive;
                border-radius: 15px;
                padding: 10px;
                color: $red;
                font-weight: bold;
                font-size: larger;
        
                &:hover, &:focus, &.active {
                    color: $green;
                    background-color: $yellow_weak;
                }
            }
        }

        .nav-socials{
            @media (max-width: $md) {
                display: block;
                margin: 0 20px;
            }

            .nav-item{
                max-width: max-content;
                display: inline-block;
            }
        }
    }


}