@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: $bg;
}

h1, h2, h3, h4, h5, h6, label {
    color: $text;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

p {
    color: $text;
}

a {
    color: $secondary;
}