@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

body {
    background-color: $bg;
}

h1, h2, h3, h4, h5, h6, label {
    color: $text;
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
}

p, a {
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    text-align: justify;
}

p {
    color: $text;
}

a {
    color: $main !important;
    font-weight: bolder;

    &:hover {
        color: $secondary !important;
    }

}

button {
    width: max-content !important;
    color: $bg !important;
    background-color: $main !important;

    &:hover {
        color: $bg !important;
        background-color: $secondary !important;
    }
}