@import '../../assets/sass/colors.scss';

.hero {

    &.bg-image {
        height: 400px;
        margin-top: 58px;
    
        @media (max-width: $lg) {
            margin-top: 40px;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        text-shadow: 0px 0px 5px $bg;
    }

    
}

.hero-content {
    margin: 40px auto;
    text-align: center;
}

.home-logo {
    max-width: calc(100% - 40px);
    margin: auto;
    max-height: 90vh;
    display: block;
    margin-top: 58px;
}