@import '../../assets/sass/colors.scss';

.hero {

    &.bg-image {
        height: 400px;
        margin-top: 58px;
    
        @media (max-width: $lg) {
            margin-top: 40px;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        text-shadow: 0px 0px 5px $bg;
    }

}